<a href="https://colab.research.google.com/github/SrikariMalladi/APSSDC/blob/main/ml_labb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
data = pd.Series([[1, 2, 3], [4, 5], [6, 7, 8]])
result = data.explode()
print(result)

0    1
0    2
0    3
1    4
1    5
2    6
2    7
2    8
dtype: object

In [2]:
import pandas as pd
data = pd.Series([10, 20, 30, 40, 50])
condition = data > 30
subset = data[condition]
print(subset)

3    40
4    50
dtype: int64

In [5]:
import pandas as pd
data = pd.Series([1, 2, 2, 3, 3, 3, 4, 4, 4, 4])
most_frequent_value = data.mode()[0]
data.loc[data != most_frequent_value] = 'Other'
print(data)

0    Other
1    Other
2    Other
3    Other
4    Other
5    Other
6        4
7        4
8        4
9        4
dtype: object

In [6]:
import pandas as pd
data = pd.Series([1, 5, 10, 15, 20, 25, 30])
positions = data[data % 5 == 0].index
print("Positions of numbers that are multiples of 5:", positions)

Positions of numbers that are multiples of 5: Int64Index([1, 2, 3, 4, 5, 6], dtype='int64')

In [7]:
import pandas as pd
data = pd.Series(['apple', 'banana', 'cherry', 'date'])
word_lengths = data.str.len()
print(word_lengths)

0    5
1    6
2    6
3    4
dtype: int64

In [8]:
import pandas as pd
year_month_strings = pd.Series(['2022-01', '2022-02', '2022-03'])
day_of_month_to_add = 15
dates_with_added_day = pd.to_datetime(year_month_strings + '-' + str(day_of_month_to_add), format='%Y-%m-%d')
print(dates_with_added_day)

0   2022-01-15
1   2022-02-15
2   2022-03-15
dtype: datetime64[ns]

In [23]:
import pandas as pd
data = {
    'Name': ['Seekaa', 'cherry', 'deepu'],
    'Age': [22, 30, 25],
    'City': ['New York', 'Los Angeles', 'Chicago']
}
index_labels = ['Person1', 'Person2', 'Person3']
df = pd.DataFrame(data, index=index_labels)
print(df)

           Name  Age         City
Person1  Seekaa   22     New York
Person2  cherry   30  Los Angeles
Person3   deepu   25      Chicago

In [21]:
import pandas as pd
data = {
    'Student': ['Seekaa', 'cherry', 'deepu', 'Lakshmi'],
    'Attempts': [1, 3, 2, 4]
}

df = pd.DataFrame(data)
result = df[df['Attempts'] > 2]
print(result)

   Student  Attempts
1   cherry         3
3  Lakshmi         4

In [24]:
import pandas as pd
data = {
    'Name': ['Seekaa', 'cherry', 'deepu'],
    'Age': [22, 30, 25],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
new_row_values = {'Name': 'krishna', 'Age': 28, 'City': 'Seattle'}
df = df.append(new_row_values, ignore_index=True)
print("\nDataFrame after appending 'k' row:")
print(df)
df = df.drop(index=df[df['Name'] == 'Krishna'].index)
print("\nOriginal DataFrame after deleting 'k' row:")
print(df)

Original DataFrame:
     Name  Age         City
0  Seekaa   22     New York
1  cherry   30  Los Angeles
2   deepu   25      Chicago

DataFrame after appending 'k' row:
      Name  Age         City
0   Seekaa   22     New York
1   cherry   30  Los Angeles
2    deepu   25      Chicago
3  krishna   28      Seattle

Original DataFrame after deleting 'k' row:
      Name  Age         City
0   Seekaa   22     New York
1   cherry   30  Los Angeles
2    deepu   25      Chicago
3  krishna   28      Seattle

<ipython-input-24-4cd8b3fcd3bd>:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_row_values, ignore_index=True)

In [16]:
import pandas as pd
data = {
    'Name': ['Seekaa', 'cherry', 'deepu', 'Lakshmi', 'Krishna'],
    'Score': [85, 92, 78, 90, 88]
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
df_sorted = df.sort_values(by=['Name', 'Score'], ascending=[False, True])
print("\nDataFrame after sorting:")
print(df_sorted)

Original DataFrame:
      Name  Score
0   Seekaa     85
1   cherry     92
2    deepu     78
3  Lakshmi     90
4  Krishna     88

DataFrame after sorting:
      Name  Score
2    deepu     78
1   cherry     92
0   Seekaa     85
3  Lakshmi     90
4  Krishna     88

In [15]:
import pandas as pd
data = {
    'Name': ['Seekaa', 'cherry', 'deepu', 'Lakshmi', 'Krishna'],
    'Qualify': ['yes', 'no', 'yes', 'no', 'yes']
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
df['Qualify'] = df['Qualify'].replace({'yes': True, 'no': False})
print("\nDataFrame after replacing values:")
print(df)

Original DataFrame:
      Name Qualify
0   Seekaa     yes
1   cherry      no
2    deepu     yes
3  Lakshmi      no
4  Krishna     yes

DataFrame after replacing values:
      Name  Qualify
0   Seekaa     True
1   cherry    False
2    deepu     True
3  Lakshmi    False
4  Krishna     True

In [14]:
import pandas as pd
import numpy as np
data = {
    'A': [1, 2, np.inf, 4, 5],
    'B': [np.inf, 8, 9, 10, 11]
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
df.replace([np.inf, -np.inf], np.nan, inplace=True)
df = df.dropna()
print("\nDataFrame after removing infinite values:")
print(df)

Original DataFrame:
     A     B
0  1.0   inf
1  2.0   8.0
2  inf   9.0
3  4.0  10.0
4  5.0  11.0

DataFrame after removing infinite values:
     A     B
1  2.0   8.0
3  4.0  10.0
4  5.0  11.0